{% set kops_node_settings = kops.node_ig_settings %}
{% set gpu_instance_groups = kops.gpu_instance_groups %}
{% set key_settings = terraform.aws_base %}

networkCIDR: {{ vpc_cidr_block }}
networkID: {{ vpc_id }}
awsRegion: {{ aws_region }}
projectName: {{ project_name }}
natGatewayId: {{ nat_gateway_id }}
dnsZone: {{ dns.domain }}
dnsDomain: {{ dns.dns_domain }}
dnsZoneId: {{ dns.dns_zone }}
vpnInternalNetworkIp: {{ open_vpn_static_route_ip }}
masterMachineType: {{ kops_node_settings.nodes.masterMachineType }}
nodeMachineType: {{ kops_node_settings.nodes.nodeMachineType }}
maxNodeSize: {{ kops_node_settings.nodes.maxNodeSize }}
mixedInstancesPolicy: {{ kops_node_settings.nodes.mixedInstancesPolicy }}
podIdentityReplicas: {{ kops_node_settings.nodes.podIdentityReplicas }}
availabilityZones: {{ kops_node_settings.nodes.azs }}
zones: {{ kops_node_settings.nodes.zones }}
kopsSshKeyName: {{ key_settings.kops_key_name }}
image: {{ kops_node_settings.image }}
gpuGroup: {{ kops.gpu_instance_groups }}
gpuMixedInstancesPolicy: {{ kops_node_settings.nodes.gpuMixedInstancesPolicy }}
additionalDnsZones: {{ kops.additional_dns_zones }}
kopsStateStore: {{ 's3://' ~ remote_s3_bucket_configs.kops_state_prefix }}
configBase: {{ 's3://' ~ remote_s3_bucket_configs.kops_state_prefix ~ '/' ~ cluster_name }}
clusterName: {{ cluster_name }}
discoveryStore: {{ 's3://' ~ remote_s3_bucket_configs.kops_iam_prefix }}
subnets: {{ compact_subnets( private_subnets, public_subnets ) }}
kopsIamConfigs: {{ kops_iam_policies(iam_policy_arns) }}