accelerated_nodes:
    gpu_nodes:
    {% for zone in active_zones %}
    - apiVersion: 'kops.k8s.io/v1alpha2'
        kind: 'InstanceGroup'
        metadata:
        labels:
            kops.k8s.io/cluster: '{{ clusterName }}'
        name: 'gpu-nodes-{{ gpuMixedInstancesPolicy.igName }}-{{ zone }}'
        spec:
        image: '{{ image }}'
        machineType: '{{ gpuMixedInstancesPolicy.gpuMachineType }}'
        maxSize: {{ gpuMixedInstancesPolicy.gpuMaxNodeSize }}
        minSize: 0
        nodeLabels:
            instance-group: 'gpu-nodes-{{ gpuMixedInstancesPolicy.igName }}-{{ zone }}'
        role: 'Node'
        subnets:
            - '{{ zone }}'
        cloudLabels:
            node_type: 'gpu'
            instance_type: '{{ gpuMixedInstancesPolicy.igName }}'
            gpus: '{{ gpuMixedInstancesPolicy.gpus }}'
    {% endfor %}
    inf2_nodes:
    {% for zone in active_zones %}
    - apiVersion: 'kops.k8s.io/v1alpha2'
        kind: 'InstanceGroup'
        metadata:
        labels:
            kops.k8s.io/cluster: '{{ clusterName }}'
        name: 'inf-nodes-{{ inf2NodesPolicy.igName }}-{{ zone }}'
        spec:
        image: '{{ image }}'
        machineType: '{{ inf2NodesPolicy.nodeMachineType }}'
        maxSize: {{ inf2NodesPolicy.maxNodeSize }}
        minSize: 0
        nodeLabels:
            instance-group: 'inf-nodes-{{ inf2NodesPolicy.igName }}-{{ zone }}'
        role: 'Node'
        subnets:
            - '{{ zone }}'
        cloudLabels:
            node_type: 'inf2'
        rootVolumeSize: 512
        taints:
            - "aws.amazon.com/neuron=:NoSchedule"
    {% endfor %}