awsRegion: {{ awsRegion }}
iamPolicies: {{ iamPolicyArns }}
efsVolumeHandle: {{ efsVolumeHandle }}
rdsInstanceHostname: {{ rdsInstanceHostname }}
rdsInstanceHostNoPort: {{ rdsInstanceHostNoPort }}
rdsUsername: {{ rdsUsername }}
awsEfsDriver: {{ awsEfsDriver }}
dnsDomain: {{ dnsDomain }}
gitAdminEmail: {{ gitAdminEmail }}
gitAdminUsername: {{ gitAdminUsername }}
aliasCommonName: "{{ '*.' ~ dnsDomain }}"
commonName: {{ dnsDomain.replace('.','-') }}
tlsSecretName: {{ 'wildcard-tls-cert-' ~ dnsDomain.replace('.','-') }}
mageGitRepoLink: {{ mageGitRepoLink }}