networkCIDR: {{ networkCIDR }}
networkID: {{ networkID }}
awsRegion: {{ awsRegion }}
projectName: {{ projectName }}
natGatewayId: {{ natGatewayId }}
dnsZone: {{ dnsZone }}
dnsDomain: {{ dnsDomain }}
dnsZoneId: {{ dnsZoneId }}
vpnInternalNetworkIp: {{ vpnInternalNetworkIp }}
machineType: {{ machineType }}
maxNodeSize: {{ maxNodeSize }}
kopsSshKeyName: {{ kops_ssh_key_name }}
image: {{ image }}
gpuGroups: {{ gpuGroups }}
additionalDnsZones: {{ additionalDnsZones }}
additionalGpuNodeGroups: {{ additionalGpuNodeGroups }}
kopsStateStore: {{ 's3://' ~ kopsStateStore }}
configBase: {{ 's3://' ~ kopsStateStore ~ '/' ~ clusterName }}
clusterName: {{ clusterName }}
discoveryStore: {{ 's3://' ~ discoveryStore }}
subnets: {{ compact_subnets( privateSubnets, publicSubnets ) }}
kopsIamConfigs: {{ kops_iam_policies(iamPolicyArns) }}