rds_token_path: {{ rds_token_path }}
dns_domain: {{ dns_domain }}
vault_addr: {{ 'https://vault.' ~ dns_domain }}
git_public_key_path: {{ '~/.ssh/' ~ project_name ~ '/id_ed25519_git.pub' }}
git_private_key_path: {{ '~/.ssh/' ~ project_name ~ '/id_ed25519_git' }}
vault_key_path: {{ '~/.ssh/' ~ project_name ~ '/vault_init_output.json' }}
rds_username: {{ rds_username }}
rds_instance_hostname: {{ rds_instance_hostname }}

