tls_mirror:
  tlsSecretName: {{ tlsSecretName }}
  namespaces:
  - monitor
  - ext
  - web
  - gpu
  - de

eso_mirror:
  esoSecret: eso-backend
  namespaces:
  - monitor
  - ext
  - web
  - gpu
  - de