version: 1
name: {{ name }}
ingressName: {{ name }}-ingress
dnsDomain: {{ dnsDomain }}
tlsSecretName: {{ tlsSecretName }}
namespace: {{ namespace }}
ecrImage: {{ ecrImage }}
ingress_class_name: {{ ingress_class_name }}
service:
  port: {{ port }}